{% extends "base.html" %}

{% block title %}Sodi Services - Innovating the Future{% endblock %}

{% block content %}
<section id="projects">
    <div class="container">
        <h2>My Projects</h2>
        <div class="projects-grid">
            <div class="project">
                <iframe frameborder="0" src="https://itch.io/embed/3260834?linkback=true" width="100%" height="167">
                    <a href="https://abdulahdi.itch.io/hacked">Hacked by Abdulahdi</a>
                </iframe>
            </div>
            <div class="project">
                <iframe frameborder="0" src="https://itch.io/embed/3131041?linkback=true" width="100%" height="167">
                    <a href="https://abdulahdi.itch.io/counter">Counter by Abdulahdi</a>
                </iframe>
            </div>
            <div class="project">
                <iframe frameborder="0" src="https://itch.io/embed/3216751?linkback=true" width="100%" height="167">
                    <a href="https://abdulahdi.itch.io/onlineos">OnlineOs by Abdulahdi</a>
                </iframe>
            </div>
            <div class="project">
                <iframe frameborder="0" src="https://itch.io/embed/3188884?linkback=true" width="100%" height="167">
                    <a href="https://abdulahdi.itch.io/bikerider">BikeRider by Abdulahdi</a>
                </iframe>
            </div>
            <div class="project">
                <iframe frameborder="0" src="https://itch.io/embed/3154161?linkback=true" width="100%" height="167">
                    <a href="https://abdulahdi.itch.io/pixelescape">PixelEscape by Abdulahdi</a>
                </iframe>
            </div>
            <div class="project">
                <iframe frameborder="0" src="https://itch.io/embed/3090389?linkback=true" width="100%" height="167">
                    <a href="https://abdulahdi.itch.io/profile">Profile by Abdulahdi</a>
                </iframe>
            </div>
            <div class="project">
                <iframe frameborder="0" src="https://itch.io/embed/3089481?linkback=true" width="100%" height="167">
                    <a href="https://abdulahdi.itch.io/jarvis-on-python">Jarvis on Python by Abdulahdi</a>
                </iframe>
            </div>
            <div class="project">
                <iframe frameborder="0" src="https://itch.io/embed/3089423?linkback=true" width="100%" height="167">
                    <a href="https://abdulahdi.itch.io/my-html-projects">My HTML Projects by Abdulahdi</a>
                </iframe>
            </div>
            <div class="project">
                <iframe frameborder="0" src="https://itch.io/embed/3054663?linkback=true" width="100%" height="167">
                    <a href="https://abdulahdi.itch.io/windows11">Window's 11 by Abdulahdi</a>
                </iframe>
            </div>
            <div class="project">
                <iframe frameborder="0" src="https://itch.io/embed/3051486?linkback=true" width="100%" height="167">
                    <a href="https://abdulahdi.itch.io/windows-11-simulator">Windows 11 simulator by Abdulahdi</a>
                </iframe>
            </div>
            <div class="project">
                <iframe frameborder="0" src="https://itch.io/embed/2938509?linkback=true" width="100%" height="167">
                    <a href="https://abdulahdi.itch.io/carrace">RaceWithEnemies by Abdulahdi</a>
                </iframe>
            </div>
            <div class="project">
                <iframe frameborder="0" src="https://itch.io/embed/2920299?linkback=true" width="100%" height="167">
                    <a href="https://abdulahdi.itch.io/tic-tac-toe">Tic Tac Toe by Abdulahdi</a>
                </iframe>
            </div>
            <div class="project">
                <iframe frameborder="0" src="https://itch.io/embed/2865322?linkback=true" width="100%" height="167">
                    <a href="https://abdulahdi.itch.io/mymultiplayergame">MyMultiplayerGame by Abdulahdi</a>
                </iframe>
            </div>
            <div class="project">
                <iframe frameborder="0" src="https://itch.io/embed/2979385?linkback=true" width="100%" height="167">
                    <a href="https://abdulahdi.itch.io/flappybird2d">FlappyBird2D by Abdulahdi</a>
                </iframe>
            </div>
            <div class="project">
                <iframe frameborder="0" src="https://itch.io/embed/3010451?linkback=true" width="100%" height="167">
                    <a href="https://abdulahdi.itch.io/myprofile">MyProfile by Abdulahdi</a>
                </iframe>
            </div>
            <div class="project">
                <iframe frameborder="0" src="https://itch.io/embed/3056546?linkback=true" width="100%" height="167">
                    <a href="https://abdulahdi.itch.io/hacker">Hacker by Abdulahdi</a>
                </iframe>
            </div>
        </div>
    </div>
</section>
{% endblock %}