{% extends "base.html" %}

{% block title %}Sodi Services - Innovating the Future{% endblock %}

{% block content %}
<!-- Services Hero Section -->
<section class="services-hero">
  <div class="container">
    <h1>Our Services</h1>
    <p>At Sodi, we deliver cutting-edge solutions across various tech domains.</p>
  </div>
</section>

<!-- Services Content Section -->
<section class="services-content">
  <div class="container grid-container">
    <!-- Service Portion for Game Development -->
    <div class="service-card">
      <h2>Sodium Browser</h2>
      <p>Browse Protectively, and Privately</p>
      <a href="https://sodi.pythonanywhere.com/app" class="btn service-btn">Install</a>
    </div>

    <!-- Service Portion for Game Development -->
    <div class="service-card">
      <h2>Sodium Search Engine</h2>
      <p>Search Affectively.</p>
      <a href="https://sodi.pythonanywhere.com/" class="btn service-btn">Learn More</a>
    </div>

    <!-- Service Portion for Game Development -->
    <div class="service-card">
      <h2>Sodium Messages</h2>
      <p>Chat with Speedy Privacy.</p>
      <a href="https://sodi.pythonanywhere.com/messages" class="btn service-btn">Learn More</a>
    </div>

    <!-- Service Portion for App Development -->
    <div class="service-card">
      <h2>Sodium OS</h2>
      <p>Run Sodium OS, get Sodi interface with Sodi Softwares and Games.</p>
      <a href="#" class="btn service-btn">Soon</a>
    </div>
  </div>
</section>
{% endblock %}