{% extends "base.html" %}

{% block title %}Sodi Softwares - Innovating the Future{% endblock %}

{% block content %}
<!-- Services Hero Section -->
<section class="services-hero">
    <div class="container">
        <h1>Our Softwares</h1>
        <p>At Sodi, we deliver cutting-edge solutions across various tech Softwares.</p>
    </div>
</section>

<!-- Services Content Section -->
<section class="services-content">
    <div class="container grid-container">
        <!-- Service Portion for Game Development -->
        <div class="service-card">
            <h2>Time Tracker</h2>
            <p>Track your work, and Time for your Performance.</p>
            <a href="https://jarvis1.pythonanywhere.com/" class="btn service-btn">Learn More</a>
        </div>

        <div class="service-card">
            <h2>Game Publishers</h2>
            <p>Upload and Play your HTML games.</p>
            <a href="https://abdulahdi.pythonanywhere.com/" class="btn service-btn">Learn More</a>
        </div>

        <div class="service-card">
            <h2>Inventory Manager</h2>
            <p>Manage your inventory and keep running your business</p>
            <a href="https://manufacturer.pythonanywhere.com/" class="btn service-btn">Learn More</a>
        </div>
    </div>
</section>
{% endblock %}